html {
    margin: 0;
    min-height: 100%;
  }
  body {
    margin: 0;
  }
  .headerbarlayer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
  }
  .left1bar {
    width: 500px;
    position: relative;
    padding-left: 20px;
    display: block;
  }
  .logo {
    padding-left: 50px;
    padding-bottom: 30px;
    text-align: left;
    color: #f9faf8;
    font-size: 24px;
  }
  .textcontainer {
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 20px;
    
  }
  .maintext {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
  }
  .mainsubtext {
    font-size: 18px;
    color: #e5e7eb;
  }
  
  button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    color: white;
    background: #3882f6;
    padding: 4px 16px;
  }
  button.signup-x {
    border: solid white;
  }
  .right1bar{
    width: 500px;
    position: relative;
    padding-right: 20px;
    display: block;
  }
  a {
    color:#e5e7eb ;
    text-decoration: none;
  }
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-bottom: 30px;
    gap: 16px
  }
  .placeholdercontainer {
    display: flex;
    position: relative;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
  }
  .layer1 {
    height: 200px;
  }
  .title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 600;
    color: #1f2937;
  }
  .layer1container {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 48px;
  }
  
  img {
    height: 100px;
    width: 150px;
  }
  .layer2 {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #e5e7eb;
    height: 250px;
   
  }
  .layer2container {
    width: 700px;
    gap: 16px;
    position: absolute;
    padding: 16px;
    display: block;
  }
  .layer2text {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;
    font-size: 24px;
    font-style: italic;
    color: #1f2937;
    
  }
  
  .layer2Quoteform {
    text-align:center;
    margin-top: 1em;
    font-size: 18px;
    font-weight: 600;
  }
  .layer3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
  }
  .bluecontainer {
    display: flex;
    background-color:#3882f6 ;
    color: white;
    border-radius: 8px;
    height: 70px;
    padding: 10px 20px;
  } 
  .blueleft {
    padding: 20px 10px;
  }
  .blueright {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footerlayer {
    position: fixed;
     height: 52px;
     bottom: 0;
     left: 0;
     right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    color:white ;
  }
  